.footer {
  display: flex;
  max-width: 1400px;
  height: 400px;
  margin: 0 auto;
  justify-content: center;
  padding: 40px;
  border: 1px solid var(--color-midnight-blue);
  border-radius: 20px;
}
.wrapper {
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.supportLinks {
  display: flex;
  gap: 40px;
  font-family: var(--font-inter);
  font-weight: 400;
  line-height: var(--line-height);
  font-size: var(--font-size-14);
}
.supportLinks a {
  color: var(--color-light-gray);
}
.supportLinks a:hover {
  color: var(--color-light-blue);
}
.logosWrapper {
  display: flex;
  gap: 25px;
  cursor: pointer;
}

.logoIcon {
  opacity: 0.8;
}
.logoIcon:hover {
  opacity: 1;
}
.footerList {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  list-style: none;
}

.footerLink {
  font-family: var(--font-sora);
  font-size: var(--font-size-16);
}

.newsletterText {
  font-family: var(--font-inter);
  font-weight: 400;
  font-size: var(--font-size-16);
  color: var(--color-light-gray);
  line-height: var(--line-height);
}

.newsletterInput {
  padding: 16px 32px;
  border-radius: 16px;
  border: none;
  width: 100%;
}
.newsletterInput::placeholder {
  color: var(--color-light-gray);
  font-family: var(--font-inter);
}
.newsletterButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-family: var(--font-sora);
  font-size: var(--font-size-16);
  right: 32px;
  border: none;
  background-color: transparent;
  color: var(--color-indigo);
  cursor: pointer;
}
.newsletterWrapper {
  position: relative;
  width: 100%;
}

@media (max-width: 520px) {
  .footer {
    max-width: 100%;
    height: auto;
    margin: 10px;
    flex-direction: column;
    padding: 10px;
    row-gap: 20px;
  }
  .wrapper {
    width: 100%;

    row-gap: 20px;
  }
  .supportLinks {
    gap: 40px;
    justify-content: center;

    font-size: var(--font-size-13);
  }

  .logosWrapper {
    justify-content: center;
    gap: 25px;
    cursor: pointer;
  }

  .logoIcon {
    opacity: 0.8;
  }
  .logoIcon:hover {
    opacity: 1;
  }
  .footerList {
    display: none;
  }

  .newsletterText {
    font-size: var(--font-size-13);
  }
  .wrapper button {
    display: none;
  }
}
