.infoSection {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  margin: 105px 0;
}
.infoArticle {
  display: flex;
  flex-direction: column;
  max-width: 600px;
}
.text {
  font-family: var(--font-inter);
  font-weight: 500;
  font-size: var(--font-size-15);
  text-transform: uppercase;
  letter-spacing: var(--letter-spacing-3px);
  color: var(--color-light-gray);
}

.title {
  padding: 16px 0 32px;
  font-family: var(--font-sora);
  font-size: var(--font-size-64);
}
.description {
  padding-bottom: 48px;
  font-family: var(--font-inter);
  font-weight: 400;
  font-size: var(--font-size-16);

  color: var(--color-light-gray);
}

.imageWrapper {
  position: relative;
  width: 660px;
  height: 610px;
  padding: 16px;
}
.image {
  position: absolute;
  bottom: 0;
}
.buttonContainer {
  display: flex;
  gap: 16px;
}
.image2 {
  position: absolute;
  right: 0;
  z-index: -1;
}

.additionalSection {
  display: flex;
  max-width: 1400px;
  align-items: center;
  padding: 20px 20px 100px 20px;
  height: 616px;
  margin: 0 auto;
  justify-content: space-between;
  gap: 118px;
}

.doubleImageArticle {
  height: 100%;
  position: relative;
  width: 50%;
}

.imagePlane {
  position: absolute;
  z-index: -1;
  right: 0;
  top: 0;
}
.imageEmoji {
  position: absolute;
  left: 0;
  bottom: 0;
}
.featureArticle {
  width: 50%;
}
.featureArticle {
  display: flex;
  flex-direction: column;
  row-gap: 56px;
}

.featureTitle {
  font-family: var(--font-sora);
  font-size: var(--font-size-64);
  line-height: 1;
  padding: 16px 0 32px 0;
}

.featureDescription {
  font-family: var(--font-inter);
  font-weight: 400;
  color: var(--color-light-gray);
  line-height: var(--line-height);
  font-size: var(--font-size-16);
}
.featureList {
  display: flex;
  gap: 24px;
}
.featureItem {
  width: 234px;
}

.featureHeading {
  font-family: var(--font-sora);
  font-size: var(--font-size-20);
}

.featureText {
  font-family: var(--font-inter);
  font-weight: 400;
  font-size: var(--font-size-16);
  line-height: var(--line-height);
  color: var(--color-light-gray);
}
.featureIcon {
  margin-bottom: 24px;
}
.featureButtons {
  display: flex;
  gap: 16px;
  padding-top: 48px;
  margin-top: auto;
}
.featureSection {
  height: 100%;
  display: flex;

  max-width: 1400px;
  background: linear-gradient(to bottom, #1c1e30 0%, #08080e 100%);
  width: 100%;
  margin: 0 auto;
  padding: 100px 0 80px 118px;
  border-radius: 20px;
}
.imageUsersWrapper {
  width: 50%;
  overflow: hidden;
}
.featureWrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 50%;
}

.feature_title {
  padding: 16px 0 32px;
  font-family: var(--font-sora);
  font-size: var(--font-size-48);
}

.nftList {
  display: flex;
  margin: 80px 0 150px 0;
  justify-content: center;
  gap: 24px;
}
.nft {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  gap: 8px;
}
.nft p {
  font-family: var(--font-inter);
  font-weight: 400;
  font-size: var(--font-size-14);
  color: var(--color-light-gray);
  line-height: var(--line-height);
}

@media (max-width: 520px) {
  .infoSection {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 55px 0;
    padding: 20px;
  }
  .infoArticle {
    max-width: 100%;
  }
  .text {
    font-size: var(--font-size-13);
  }

  .title {
    font-size: var(--font-size-32);
  }
  .description {
    padding-bottom: 24px;
    font-size: var(--font-size-16);
  }

  .imageWrapper {
    width: 100%;
    height: 300px;
    height: fit-content;
  }
  .image {
    width: 150px;
    height: auto;
    position: absolute;
    bottom: 0;
    right: 50px;
  }
  .buttonContainer {
    justify-content: center;
  }
  .image2 {
    width: 150px;
    height: auto;
    position: static;
    right: 20px;
  }

  .additionalSection {
    max-width: 100%;
    align-items: flex-start;
    padding: 20px;
    height: auto;
    margin: 0;

    flex-direction: column;
    gap: 20px;
  }

  .doubleImageArticle {
    height: 100%;
    position: relative;
    width: 100%;
  }

  .imagePlane {
    width: 200px;
    height: auto;
    position: absolute;
    z-index: 1;
    right: 0;
    top: 40px;
  }
  .imageEmoji {
    width: 200px;
    height: auto;
    position: static;
    left: 0;
    bottom: 0;
  }
  .featureArticle {
    width: 100%;
  }
  .featureArticle {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
  }

  .featureTitle {
    font-size: var(--font-size-24);

    padding: 16px 0;
  }

  .featureDescription {
    font-size: var(--font-size-16);
  }
  .featureList {
    display: flex;

    gap: 14px;
  }
  .featureItem {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }

  .featureHeading {
    font-size: var(--font-size-14);
  }

  .featureText {
    font-size: var(--font-size-13);
  }
  .featureIcon {
    margin-bottom: 24px;
  }
  .featureButtons {
    display: flex;
    justify-content: center;
    gap: 16px;
    padding-top: 0;
  }

  .featureSection {
    max-width: 100%;
    width: 100%;
    padding: 20px 0 20px 20px;
    border-radius: 20px;
    position: relative;
  }
  .imageUsersWrapper {
    width: 100%;
    overflow: hidden;
  }
  .featureWrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50%;
    row-gap: 10px;
    z-index: 1;
  }

  .feature_title {
    padding: 16px 0 32px;

    font-size: var(--font-size-36);
  }

  .nftList {
    margin: 30px 0;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    width: 100%;
    padding: 20px;
    gap: 12px;
  }
  .nft {
    scroll-snap-align: start;
    gap: 8px;
  }
  .nftList::-webkit-scrollbar {
    height: 2px;
  }

  .nftList::-webkit-scrollbar-track {
    background: transparent;
  }

  .nftList::-webkit-scrollbar-thumb {
    background-color: var(--color-light-blue);
    border-radius: 10px;
  }
  .imegaNft {
    width: 50px;
    height: auto;
  }
  .nft p {
    font-family: var(--font-inter);
    font-weight: 400;
    font-size: var(--font-size-14);
    color: var(--color-light-gray);
    line-height: var(--line-height);
  }
}
